<!-- about.component.html -->
<div class="grid">
    <div class="column-one">
      <div class="row-one">
        <h1>Name/Title</h1>
      </div>
      <div class="row-two">
        <img src="path-to-photo" alt="Photo">
      </div>
    </div>
    <div class="column-two">
      <div class="row-one">
        <h2>Who is Bernadette Stamps</h2>
      </div>
      <div class="row-two">
        <h2>Bernadette's Interests</h2>
      </div>
      <div class="row-three">
        <h2>Bernadette's Business Model</h2>
      </div>
      <div class="row-four">
        <h2>Bernadette's Talents</h2>
      </div>
    </div>
  </div>
  