/** partial-ui-mainjumbotron-sm.component.scss **/

.mainjumbotronsm-container {
    /** Add your styles for the container here **/
    background: transparent;
}

.title {
    /** Add your styles for the title here **/
    background: transparent;
}

.section-title {
    /** Add your styles for the section title here **/
    background: transparent;
}

.call-to-action {
    /** Add your styles for the call to action here **/
    background: transparent;
}
