<!-- partial-ui-mainjumbotron-md.component.html -->

<!-- Container for the main jumbotron on medium screens -->
<nav class="mainjumbotronmd-container">
    <!-- Title -->
    <div class="title" [ngStyle]="customStyles?.title">
        {{ title }}
    </div>
    
    <!-- Section Title -->
    <div class="section-title" [ngStyle]="customStyles?.sectionTitle">
        {{ sectionTitle }}
    </div>
    
    <!-- Call to Action -->
    <div class="call-to-action" [ngStyle]="customStyles?.callToAction">
        {{ callToAction }}
    </div>
</nav>
