/** partial-ui-footernav-md.component.scss **/

.footernavmd-container {
    /** Add your styles for the container here **/
    background: transparent;
}

.toggle-button {
    /** Add your styles for the toggle button here **/
    background: transparent;
}

.brand {
    /** Add your styles for the brand here **/
    background: transparent;
}

.copyrights {
    /** Add your styles for the copyrights here **/
    background: transparent;
}

.hidden {
    display: none;
}
