/** partial-ui-footernav-lg.component.scss **/

.footernavlg-container {
    /** Add your styles for the container here **/
    background: transparent;
}

.brand {
    /** Add your styles for the brand here **/
    background: transparent;
}

.copyrights {
    /** Add your styles for the copyrights here **/
    background: transparent;
}

.links {
    /** Add your styles for the links here **/
    background: transparent;
}

.search {
    /** Add your styles for the search bar here **/
    background: transparent;
}
