<!-- partial-ui-footernav-lg.component.html -->

<!-- Container for the footer navigation on large screens -->
<nav class="footernavlg-container">
    <!-- Brand -->
    <div class="brand" [ngStyle]="customStyles?.brand">
        {{ brand }}
    </div>
    
    <!-- Copyrights -->
    <div class="copyrights" [ngStyle]="customStyles?.copyrights">
        {{ copyrights }}
    </div>
    
    <!-- Links -->
    <div class="links" [ngStyle]="customStyles?.links">
        <!-- Add links here -->
    </div>
    
    <!-- Search -->
    <div class="search" [ngStyle]="customStyles?.search">
        <!-- Add search bar here -->
    </div>
</nav>
