<!-- about.component.html -->
<div class="grid">
    <div class="column-one">
      <div class="row-one">
        <h1>Bernadette Stamps</h1>
      </div>
      <div class="row-two">
        <img src="/assets/images/bern51.png" alt="Photo">
      </div>
    </div>
    <div class="column-two">
      <!-- contact page form -->
      <form>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="message">Message:</label><br>
        <textarea id="message" name="message"></textarea><br>
        <input type="submit" value="Submit">
      </form>
    </div>
</div>
