/* partial-ui-headernav.component.scss */

/* Styles for the header navigation container */
.headernav-container {
    // Add your styles here
    background: transparent;
    margin-top: 75px;
    width: 100vw;

}
