<!-- partial-ui-headernav.component.html -->

<!-- Container for the header navigation -->
<div class="headernav-container">
    <!-- If it's a large screen, display the large screen header navigation -->
    <!--<ng-container *ngIf="isLargeScreen; else smallScreenTemplate">-->
        <app-partial-ui-headernav-lg></app-partial-ui-headernav-lg>
    <!--</ng-container>-->

    <!-- If it's not a large screen, check if it's medium or small -->
    <!--<ng-template #smallScreenTemplate>-->
        <!--<app-partial-ui-headernav-md *ngIf="isSmallScreen"></app-partial-ui-headernav-md>-->
    <!--</ng-template>-->
</div>
