/** partial-ui-footernav.component.scss **/

.footernav-container {
    /** Add your styles for the container here **/
    // Add your styles here
    background: transparent;
    margin-top: 25px;
    margin-bottom: 25px;
}