/* partial-ui-headernav-lg.component.scss */

.headernav-lg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    color: red;
    font-family: 'Tangerine', cursive;
    text-shadow: 1px 1px yellow;
    width: 100vw;
}

.brand {
    font-size: 3.5rem;
    font-weight: bold;
    font-family: 'Tangerine', cursive;
    color: yellow;
    text-shadow: 5px 5px red;
    text-align: center ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px; /* Add some margin to separate from the links */
    border: 1px solid yellow;
    border-radius: 100px;
    padding: 25px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px; /* Add some margin to separate from the spacer image */
    background-color: rgba(128,0,0,1);
    border: 1px solid yellow;
    border-radius: 100px;


    .nav-link {
        margin: 0 10px;
        text-decoration: none;
        font-weight: bold;
        font-size: 2.5rem;
        font-family: 'Tangerine', cursive;
        color: yellow;
        text-shadow: 5px 5px red;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

.spacer-image {
    height: 3rem;
    width: auto;
    margin-bottom: 20px; /* Add some margin to separate from the more links */
    background-color: rgba(128,0,0,1);
    border: 1px solid yellow;
    border-radius: 100px;
}

.more-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(128,0,0,1);
    border: 1px solid yellow;
    border-radius: 100px;

    .nav-link {
        margin: 0 10px;
        text-decoration: none;
        font-weight: bold;
        font-size: 2rem;
        font-family: 'Tangerine', cursive;
        color: yellow;
        text-shadow: 5px 5px red;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

.search {
    input {
        padding: 5px;
        border: 1px solid yellow;
    }
}
