<!-- partial-ui-headernav-lg.component.html -->

<!-- Container for the header navigation on large screens -->
<nav class="headernav-lg-container">
    <!-- Brand -->
    <div class="brand">
        Bernadette<br>Stamps
    </div>

    <!-- Links -->
    <div class="links">
        <a *ngFor="let link of links" [routerLink]="link.url" class="nav-link">{{ link.text }}</a>
    </div>

    <!-- Spacer image -->
    <div>
        <img src="/assets/images/bernfirebanner.png" alt="" class="spacer-image">
    </div>
    
    <!-- More Links -->
    <div class="more-links">
        <a *ngFor="let link of moreLinks" [routerLink]="link.url" class="nav-link">{{ link.text }}</a>
    </div>

    <!-- Search -->
    <div class="search">
        <!-- Add search bar or icon here -->
    </div>
</nav>