<div class="homepage-container">
    <div class="home">
        <h2>Bernadette Stamps</h2>
    </div>

    <div class="flex-row">
        <div class="flex-column" routerLink="/bernadette">
            <img src="/assets/images/bern35.png" alt="Photo">
            <h3>Bernadette</h3>
            <p>Bernadette Description</p>
        </div>

        <div class="flex-column" routerLink="/entrepreneur">
            <img src="/assets/images/bern33.png" alt="Photo">
            <h3>Entrepreneur</h3>
            <p>Entrepreneur Description</p>
        </div>

        <div class="flex-column" routerLink="/entertainer">
            <img src="/assets/images/bern25.png" alt="Photo">
            <h3>Entertainer</h3>
            <p>Entertainer Description</p>
        </div>

        <div class="flex-column" routerLink="/fashionista">
            <img src="/assets/images/bern7.png" alt="Photo">
            <h3>Fashionista</h3>
            <p>Fashionista Description</p>
        </div>

        <div class="flex-column" routerLink="/goddess">
            <img src="/assets/images/bern57.png" alt="Photo">
            <h3>Goddess</h3>
            <p>Goddess Description</p>
        </div>
    </div>
</div>
