/* partial-ui-headernav-sm.component.scss */

.headernav-sm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    color: red;
    font-family: 'Tangerine', cursive;
    text-shadow: 1px 1px yellow;
    width: 100vw;
    border: 1px solid yellow;
}

.brand {
    font-size: 3.5rem;
    font-weight: bold;
    font-family: 'Tangerine', cursive;
    color: yellow;
    text-shadow: 5px 5px red;
    background-image: url('/assets/images/bern35.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    margin-bottom: 20px; /* Add some margin to separate from the links */
}

.toggle-button {
    cursor: pointer;
}

.spacer-image {
    height: 3rem;
    width: auto;
    margin-bottom: 20px; /* Add some margin to separate from the more links */
    background-color: rgba(128,0,0,1);
}

.side-menu {
    background-color: #444;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    .nav-link {
        padding: 10px 20px;
        border-bottom: 1px solid #555;

        a {
            text-decoration: none;
            color: white;
        }
    }
}
