<!-- partial-ui-headernav-sm.component.html -->

<!-- Container for the header navigation on small screens -->
<nav class="headernav-sm-container">
    <!-- Brand -->
    <div class="brand">
        Bernadette<br>Stamps
    </div>

    <!-- Spacer image -->
    <div class="toggle-button" (click)="toggleNav()">
        <img src="/assets/images/bernfirebanner.png" alt="" class="spacer-image">
    </div>

    <!-- Side Menu -->
    <div class="side-menu" *ngIf="isNavOpen">
        <!-- Navigation Links -->
        <div *ngFor="let link of navLinks" class="nav-link">
            <a [routerLink]="link.url">{{ link.text }}</a>
        </div>
    </div>
</nav>
